{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="cabecalho">
    <div class="tipos">
        <h1>Sobre a plataforma <span class="eco">Eco Ferraz</span></h1>
        <img src={% static "img/descarte_pessoas.jpg" %} alt="" />
        <figcaption>Faça o descarte correto de seus recicláveis</figcaption>
    </div>
</div>

<article>
    <div class="sobre-projeto">
        <h2 class="futuro-verde">
            Unindo recicladores e cidadãos para um futuro sustentável
        </h2>
        <p>
            EcoFerraz é mais que uma plataforma online, é um projeto inovador que
            visa revolucionar a gestão de residuos sólidos em Ferraz de
            Vasconcelos, conectando de forma eficiente e transparente recrutadores
            e cidadãos. Através de uma interface intuitiva e amigável, o EcoFerraz
            oferece uma solução prática e sustentável para o descarte de materiais
            recicláveis, promovendo a coleta seletiva e a preservação do meio
            ambiente.
        </p>

        <h1 class="futuro-verde">
            EcoFerraz representa um marco na busca por um futuro mais verde e
            sustentável
        </h1>
        <h3>Facilidade e praticidade</h3>
        <p>
            O descarte de materiais recicláveis se torna simples e acessivel a
            todos, bastando alguns cliques na plataforma.
        </p>

        <h3>Transparência e segurança</h3>
        <p>
            O projeto garante a rastreablidade dos materiais coletados, desde o
            descarte até à destinação final, assegurando que os resíduos sejam
            reciclados de forma coreta e responsável.
        </p>

        <h3>Renda e inclusão social</h3>
        <p>
            A plataforma impulsiona a geração de renda para os recicladores
            locais, fortalecendo a economia circular e promovendo a inclusão
            social.
        </p>

        <h3>Educação ambiental</h3>
        <p>
            Este projeto promove a conscientização ambiental da população,
            incentivando à prática da coleta seletiva e à responsabilidade
            ambiental.
        </p>

        <h1 class="futuro-verde">
            O impacto positivo do EcoFerraz para os ferrazenses:
        </h1>
        <h3>Meio ambiente</h3>
        <p>
            A plataforma contribui para a redução do volume de aterros sanitários,
            diminuindo a poluição do solo e dos recursos hídricos.
        </p>

        <h3>Saúde pública</h3>
        <p>
            A coleta seletiva e a reciclagem contribuem para a diminuição de
            doenças transmitidas por vetores, como dengue e leptospirose,
            promovendo um ambiente mais saudável para a população.
        </p>

        <h3>Impacto na Economia</h3>
        <p>
            O projeto impulsiona a criação de novos negócios e oportunidades de
            trabalho na área da reciclagem, gerando renda e fortalecendo a
            economia local.
        </p>

        <span class="mensagem">
            Este projeto é um convite à ação, um chamado para que todos os
            cidadãos ferrazenses se unam na construção de um futuro mais verde e
            sustentável. Ao utilizar a plataforma, você contribui para a proteção
            do meio ambiente, o desenvolvimento da economia local e a promoção da
            indusão social.
        </span>
    </div>
</article>

{% endblock content %}

