{% load static %}

<div class="album py-2 bg-light">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            
            <div class="col">
                <div class="card paper">
                    <div class="titulo">
                        <img src={% static "img/paper.png" %} alt="" />
                        <h4>Papel</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            A reciclagem de papel é o processo de transformar papel usado ou
                            descartado em novos produtos de papel.
                        </p>
                        <hr/>
                        <i class="fas fa-angle-double-down papel"></i>
                        <p><a href="#">Ler mais</a></p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card plastic">
                    <div class="titulo">
                        <img src={% static "img/plastic.png" %} alt="" />
                        <h4>Plástico</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            A reciclagem de plástico é o processo de transformar resíduos
                            plásticos em novos produtos.
                        </p>
                        <hr />
                        <i class="fas fa-angle-double-down papel"></i>
                        <p><a href="#">Ler mais</a></p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card metal">
                <div class="titulo">
                        <img src={% static "img/metal.png" %} alt="" />
                        <h4>Metal</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            A reciclagem de metal é o processo de transformar resíduos
                            metálicos em novos produtos de metal.
                        </p>
                        <hr />
                        <i class="fas fa-angle-double-down papel"></i>
                        <p><a href="#">Ler mais</a></p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card glass">
                    <div class="titulo">
                        <img src={% static "img/glass.png" %} alt="" />
                        <h4>Vidro</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            A reciclagem de vidro é o processo de transformar cacos de vidro
                            em novos produtos de vidro.
                        </p>
                        <hr/>
                        <i class="fas fa-angle-double-down papel"></i>
                    <p><a href="#">Ler mais</a></p>
                    </div>
                </div>
            </div>

        </div>
</div>