{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="main">
    <div class="container mb-2">
        <h2 class="text-center p-3">Junte-se a nós e faça a diferença!</h2>
        <div class="d-flex justify-content-center">
            <div class="row row-cols-md-2">
                <div class="col">
                    <a href="#">
                        <button class="participe">QUERO DESCARTAR</button>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <button class="conheca">QUERO COLETAR</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center imagem">
            <img src={% static "img/woman.png" %} alt=""/>
        </div>

        <h3 class="text-center p-2">Saiba tudo sobre os principais <span class="eco">tipos de recicláveis</span></h3>
    </div> 
</section>

<section class="cards">
    {% include "core/cards.html" %}
</section>

</section  class="Notices">
    <div class="container">
        <div class="cabecalho-info">
            <div class="semanais">
                <h3 class="text-center">Notícias da cidade</h3>
            </div>
        </div>


    {% include "core/notices.html" %}
    </div>
</section>

<section class="convite">
    <h2 class="text-center m-3">
        <strong>Faça a diferença!</strong>
    </h2>
    <div class="row row-cols-1 row-cols-md-2 g-3">
            
        <div class="col">    
    
            <div class="row row-cols-1 msg-img">
                <div class="col">
                    <div class="d-flex justify-content-center imagem">
                        <img src={% static "img/pessoa.png" %} alt=""/>
                    </div>
                </div>
                <h3 class="text-center m-2">
                    Cadastre-se em nossa plataforma e vire um
                    <strong><span class="agt">agente transformador</span></strong>
                </h3>
            </div>
            
            
        </div>


        <div class="col">          
            <div class="row row-cols-1 msg-img">
                <div class="col">
                    <div class="d-flex justify-content-center imagem">
                    <img src={% static "img/eco.png" %} alt="" />
                    </div>
                </div>
                <div class="col">
                    <a href="#"><button>Quero ser um agente transformador</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="chamada">
            <div class="msg">
                <p class="junte">...junte-se à...</p>
                <p class="ecoferraz">_@ecoferraz</p>
                <p class="mudanca">...e faça parte da mudança!</p>

                <div class="socials">
                    <p>Siga-nos nas redes sociais</p>
                    <div class="fb">
                        <i class="fab fa-facebook-square" style="color: #0584e6"></i>
                        <a href="#" class="socialslinks">@ecoferraz</a>
                    </div>
                    <div class="instagram">
                        <i class="fab fa-instagram-square" style="color: #ec3ce6"></i>
                        <a href="#" class="socialslinks">@ecoferraz</a>
                    </div>
                    <div class="youtube">
                        <i class="fab fa-youtube-square" style="color: #ff2e2e"></i>
                        <a href="https://www.youtube.com/@EcoFerraz" class="socialslinks">@ecoferraz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}