
{% load static %}

<div class="marketing">

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="container-img-fit">    
                <img src={% static "img/eco-loja.png" %} alt=""/>
            </div>
            <div class="">
                <p class="descreva">
                    <a href="#">
                        Prefeitura de Ferraz de Vasconcelos inaugura primeira loja eco na
                        cidade. Saiba onde
                    </a>
                </p>
            </div>
        </div>
        
        <div class="col">
            <div class="container-img-fit">
                <img src={% static "img/ecopontos_ferraz.jpg" %} alt="" />
            </div>
            <div class="">
                <p class="descreva">
                    <a href="#">
                        Saiba onde estão localizados todos os eco-pontos (pontos de coleta
                        seletiva) em nossa cidade
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>