@charset "UTF-8";
/* HEADER */
header {
  box-shadow: #f7f7f7 1px 2px 3px;
}
.btn .btn.btn-associado {
  background-color: #006374;
  color:#f0f0f0;
}
/* section */
section.main{
  width: 100%;
  background-color: #01b485;
}

/* Convite */
.agt {
  display: inline;
  color: rgba(255, 68, 0, 0.801);
  text-decoration: underline;
}


.tipos h1 img {
  width: 64px;
  margin-bottom: -7px;
}

.fas {
  margin: 0 5px;
}


/* .mobile-menu-icon,
.mobile-menu {
  display: none;
} */

/* Footer */
.footer {
  width: 100%;
  background-color: #01b485;
}

.footer-title {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #013832;
  font-size: small;
}

.texto h2 {
  font-family: "Inter", sans-serif;
  color: #052941;
}


.cabecalho {
  background-color: #e7ff5e;
  width: 100%;
  margin-bottom: 2rem;
}

article {
  margin-bottom: 1rem;
}

.eco-ponto {
  width: 100%;
  margin-top: 1rem;
}


.content {
  display: flex;
  padding: 1.5rem 6rem;
  justify-content: space-between;
  align-items: center;
}

.sobre-projeto {
  padding: 1.5rem 6rem;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  line-height: 1.4rem;
  color: #474747;
}

.sobre-projeto-show {
  padding: 1.5rem 6rem;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  line-height: 1.4rem;
  color: #474747;
}

.materias {
  padding: 1.5rem 6rem;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  line-height: 1.4rem;
  color: #474747;
}

.mecanica {
  display: flex;
  margin-bottom: 3rem;
}

.texto-mecanica h3 {
  margin-bottom: 1rem;
  font-weight: 800;
  color: #006374;
}

.texto-mecanica ul {
  margin-left: 1rem;
}
.texto-mecanica ul li {
  margin-bottom: 1.4rem;
}
.exemplo {
  font-weight: 800;
  color: rgba(255, 68, 0, 0.801);
}
.mecanica img {
  margin-right: 1.5rem;
  border: #47474770 1px solid;
  padding: 1.5rem;
}
.sobre-projeto h2,
p {
  margin-bottom: 1.5rem;
}

.futuro-verde {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: #006374;
}

.sobre-projeto h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.cadastro {
  display: flex;
  padding: 1.5rem 4rem;
  justify-content: space-between;
  align-items: center;
}

.branca {
  position: absolute;
  display: flex;
  height: 100px;
  width: 570px;
  margin-bottom: -399px;
  background-color: #ffffff;
}

.pessoa {
  display: flex;
  justify-content: flex-end;
}

.pessoa img {
  width: 80%;
}

.descreva a:visited {
  color: rgb(23, 129, 199);
}

.col .card .titulo img {
  width: 20%;
  margin-bottom: 0.5rem;
}

.titulo-imagem img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.tipos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem 6rem;
  margin-top: 2rem;
  align-items: flex-start;
}

.tipos-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem 6rem;
  margin-top: 2rem;  align-items: flex-start;
}
.reciclador,
.descartador {
  width: 48%;
  border: 1px solid #c5c5c5;
  padding: 2rem;
}

.descartador h1 {
  color: #eb9432;
}

.reciclador,
.descartador,
h1 {
  color: #006374;
  font-family: "Inter", sans-serif;
  margin: 1.5rem 0 1.2rem 0;
}

#cpf,
#cnpj {
  border: solid 1px #c5c5c5;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.acessocpf {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: #eb9432;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  padding: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.acessocnpj {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: #04b486;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  padding: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.ccnpj {
  text-decoration: none;
  color: rgb(255, 123, 0);
  text-align: center;
  display: block;
  font-weight: 800;
}
.redefinir {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  line-height: 0.1rem;
  align-items: center;
  margin-top: 1rem;
  color: #474747;
}

.redefinir a {
  color: #2e9afe;
  text-decoration: none;
}

.redefinir a:hover {
  color: #2e9afe;
  text-decoration: underline;
}

.redefinir > p {
  font-weight: 800;
}

#psw {
  border: solid 1px #c5c5c5;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}
.cpf {
  border: none;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

.psw {
  border: none;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

legend {
  margin-left: 0.5rem;
}
.tipos img {
  margin-top: 2.5rem;
  width: 626px;
}

.tipos-form img {
  margin-top: 2.5rem;
  width: 100%;
}
.tipos h1 {
  color: #006374;
  filter: drop-shadow(1px 2px 2px #0000001c);
  font-family: "Inter", sans-serif;
  text-align: center;
}

.semanais {
  display: flex;
  padding: 1.5rem 6rem;
  justify-content: space-between;
  padding-top: 3rem;
}

.info {
  display: flex;
  padding: 1.5rem 6rem;
  justify-content: space-between;
}

/* .chamada {
  display: flex;
  padding: 1.5rem 6rem;
  align-items: center;
} */

.eco-pontos img {
  width: 100%;
}
.lojas-eco img {
  width: 100%;
}

/* .msg,
.msg-img {
  width: 100%;
  background-color: transparent;
} */

.junte {
  justify-self: center;
  box-sizing: border-box;
  padding-top: 4rem;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  color: #478dbb;
  font-weight: 300;
}

.ecoferraz {
  justify-self: center;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  color: #008a60;
  margin-left: 2rem;
  margin-top: -1rem;
  font-weight: 800;
}

.mudanca {
  justify-self: center;
  display: block;
  font-family: "Inter", sans-serif;
  margin-left: 4rem;
  font-size: 2rem;
  color: rgb(143, 89, 51);
  font-weight: 300;
}

.socials {
  color: #474747a8;
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
}

.socials p {
  font-family: "Inter", sans-serif;
  margin-bottom: 1rem;
}

.fb,
.instagram,
.youtube {
  font-family: "Inter", sans-serif;
}

/* .msg-img img {
  width: 80%;
} */

.msg-img button {
  background-color: #008a7a;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  color: #f8e80c;
  letter-spacing: 0.1rem;
  border: none;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.msg-img button:hover {
  background-color: #094e46;
  cursor: pointer;
  font-size: 1rem;
  width: 80%;
  color: #ffffff;
  letter-spacing: 0.1rem;
  border: none;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.semanais h1 {
  color: #009688;
  filter: drop-shadow(1px 2px 2px #0000001c);
  font-family: "Inter", sans-serif;
}

.title h1 {
  color: rgb(254, 254, 254);
  filter: drop-shadow(1px 2px 2px #00000049);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
}

.title h2 {
  color: whitesmoke;
  filter: drop-shadow(1px 2px 2px #00000049);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 3rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
  padding: 1.5rem;
}

.doar,
.coletar {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  width: 48%;
}

.doar {
  background-color: #f7da7e;
}

.doar a {
  text-decoration: none;
  color: #052941;
}

.doar:hover {
  background-color: #bb961a;
  color: #fff;
}
.coletar {
  background-color: #009688;
}

.coletar a {
  text-decoration: none;
  color: #f5f5f5;
}

.coletar:hover {
  background-color: #07534b;
  color: #fff;
}
.participe {
  background-color: rgb(253, 239, 42);
  filter: drop-shadow(1px 2px 2px #00000049);
  border: none;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(31, 51, 12);
  cursor: pointer;
  margin-right: 1rem;
}

.participe:hover {
  background-color: rgb(216, 197, 22);
  filter: drop-shadow(1px 2px 2px #00000049);
  border: none;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(31, 51, 12);
  cursor: pointer;
  margin-right: 1rem;
}

.conheca {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(1px 2px 2px #00000049);
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(31, 51, 12);
  cursor: pointer;
  margin-right: 1rem;
}

.conheca:hover {
  background-color: rgb(189, 189, 189);
  filter: drop-shadow(1px 2px 2px #00000049);
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(14, 20, 8);
  cursor: pointer;
  margin-right: 1rem;
}

.descricao a {
  text-decoration: none;
  color: #126daa;
  display: block;
  padding: 1rem;
}

.descricao a:hover {
  text-decoration: underline;
  color: #126daa;
  display: block;
  padding: 1rem;
}

article {
  width: 100%;
}


.eco-pontos,
.lojas-eco {
  filter: drop-shadow(1px 2px 2px #00000049);
  width: 540px;
  overflow: hidden;
  background-color: white;
}

.descreva {
  padding: 1.5rem;
  font-family: "Inter", sans-serif;
  filter: drop-shadow(1px 2px 2px #00000013);
  color: #126daa;
}

.descreva a {
  text-decoration: none;
}

.descreva a:hover {
  text-decoration: underline;
}

.eco-ponto,
.cabecalho-info {
  width: 100%;
  background-color: #f1f7d7;
  margin-top: -1rem;
}

.cards {
  display: flex;
  padding: 1.5rem 6rem;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: #ffffff;
  filter: drop-shadow(1px 2px 2px #00000049);
}

.titulo {
  filter: drop-shadow(1px 2px 2px #00000049);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col .paper .titulo {
  background: rgb(28 142 206);
  font-family: "Inter", sans-serif;
}

.col .plastic .titulo {
  background-color: hsl(0deg 57.43% 60.39%);
  font-family: "Inter", sans-serif;
}

.col .metal .titulo {
  background-color: hsl(54.03deg 93.99% 41.48%);
  font-family: "Inter", sans-serif;
}

.col .glass .titulo {
  background-color: #008a60;
  font-family: "Inter", sans-serif;
}


.fas {
  margin-bottom: 0.7rem;
}

.titulo h1 {
  margin-bottom: 1.5rem;
  color: #fff;
}

.titulo .ptitulo {
  font-size: 2rem;
  color: #fff;
}

.descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1.2rem;
}

.descricao-pessoa {
  display: flex;
  padding: 1.2rem;
  flex-direction: column;
  align-items: center;
}

.descricao p {
  margin-bottom: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #474747;
}

h4 {
  font-family: "Inter", sans-serif;
  color: #474747;
  margin-bottom: 1.2rem;
}

.descricao-pessoa p {
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  color: #474747;
  text-align: center;
}

.descricao hr {
  width: 100%;
  border-color: #ffffff5d;
  box-shadow: none;
}
  
.mensagem {
  background-color: #f7da7e;
  padding: 3rem;
  text-align: center;
}

.descricao .papel {
  font-size: 0.9rem;
  color: #474747;
  margin-top: 1rem;
}

.orange,
figcaption {
  color: rgba(255, 68, 0, 0.801);
  font-family: "Inter", sans-serif;
}

.green {
  color: rgb(51, 116, 46);
}

.orange img {
  width: 24px;
  margin-right: 4px;
}

.green img {
  width: 24px;
  margin-right: 4px;
}

.tipos img {
  border: 1px rgba(250, 128, 114, 0.486) solid;
  margin-bottom: 8px;
  padding: 0.4rem;
}

.socialslinks {
  text-decoration: none;
}

.eco {
  display: inline-block;
  color: #eb9432;
}


.clients{
  font-size: 5rem;
  margin-bottom: 3rem;
}
 
.list-menu-client{
  width: 14%;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  gap: 2px;
}

.list-menu-client button{
  width: 100%;
  text-align: left;
  background-color: #fff;
  padding: 4px;
  border: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.list-menu-client button:hover{
  width: 100%;
  text-align: left;
  background-color: #f0f0f0;
  padding: 4px;
  border: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.show-menu-client{
  width: 84%;
}

.show-menu-client p{
  margin-bottom: 8rem;
}
.show-menu-client h2{
  margin-top: .4rem;
  margin-bottom: 1.5rem;
}

.show-menu-client p{
  color: #767676;
  font-size: 0.8rem;
}

button.sair:hover{
  background-color: rgb(211, 98, 45);
  color: white;
}

.imagem {
    /* width: 30rem; */
    height: 30rem;
    /* display:         flex;
    display: -webkit-flex; 
    justify-content: center;
    align-items: center; */
}


.imagem img {
    width: 100%;
    height: 100%; /* Ou um valor fixo como 200px, dependendo da necessidade */
    object-fit: contain; /* Ou 'contain' */
}

.container-img-fit img {
    width: 100%;
    height: 100%; /* Ou um valor fixo como 200px, dependendo da necessidade */
    object-fit: cover; /* Ou 'contain' */
}