{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% include "partial/head/_statics.html" %} 
    </head>
    <body>
        {% include "partial/_header.html" %}

        <section>
            <div class="content">
                <div class="title">
                    <h2>Junte-se a nós e faça a diferença!</h2>
                    <a href="#"><button class="participe">QUERO DESCARTAR</button></a>
                    <a href="#"><button class="conheca">QUERO COLETAR</button></a>
                </div>
                <div class="imagem">
                    <img src={% static "img/woman.png" %} alt=""/>
                </div>
            </div>
        </section>

        {% block content %}{% endblock content %}
        <div class="footer">
            {% include "partial/_footer.html" %}
        </div>
        {% include "partial/_scripts.html" %}
    </body>
</html>