{% load static %}

<header>
    <div class="nav-bar">
        <div class="logo">
            <a href="index.html"><img
                src={% static "img/logo.jpeg" %}
                alt="Logotipo da Ecoferraz"
                title="logotipo colorido da ecoferraz"/>
            </a>
        </div>

        <div class="nav-list">
            <ul>
                <li class="nav-item">
                    <a href={% url "core:index" %} class="nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href={% url "core:about_us" %} class="nav-link">
                        <i class="fas fa-building"></i>
                        Sobre
                    </a>
                </li>
                <li class="nav-item">
                    <a href={% url "blog:index" %} class="nav-link">
                        <i class="fas fa-laptop"></i>
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-user-plus"></i>
                        Participe
                    </a>
                </li>
                <li class="nav-item">
                    <a href={% url "contact:index" %} class="nav-link">
                        <i class="fas fa-phone-volume"></i>
                        Contato
                    </a>
                </li>
            </ul>
        </div>

        <div class="login">
            <button>
                <a href="plataforma.html">ÁREA DE ASSOCIADOS</a>
            </button>
        </div>

        <div class="mobile-menu-icon">
            <button onclick="mostrarMenu()">
                <img class="icone" src={% static "img/menu_white_36dp.svg" %} alt="" />
            </button>
        </div>
    </div>

    <div class="mobile-menu">
        <ul>
            <li class="nav-item">
                <a href={% url "core:index" %} class="nav-link">
                    <i class="fas fa-home"></i>Home
                </a>
            </li>
            <li class="nav-item">
                <a href={% url "core:about_us" %} class="nav-link">
                    <i class="fas fa-building"></i>
                    Sobre
                </a>
            </li>
            <li class="nav-item">
                <a href={% url "blog:index" %} class="nav-link">
                    <i class="fas fa-laptop"></i>
                    Blog
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-user-plus"></i>
                    Participe
                </a>
            </li>
            <li class="nav-item">
                <a href={% url "contact:index" %} class="nav-link">
                    <i class="fas fa-phone-volume"></i>
                    Contato
                </a>
            
            </li>
        </ul>

        <div class="login">
          <button>
            <a href="#">ÁREA DE ASSOCIADOS</a>
            </button>
        </div>
    </div>
</header>